<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SoapWebServiceImplSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080//services/server/SoapWebServiceImpl"
                binding="basicHttpBinding" bindingConfiguration="SoapWebServiceImplSoapBinding"
                contract="webService.SoapWebServiceImpl" name="SoapWebServiceImpl" />
        </client>
    </system.serviceModel>
</configuration>